<table>
    <thead>
        <tr>
            <th>Week</th>
            <th>Consumed</th>
            <th>Min Left</th>
            <th>Max Left</th>
            <th>Avg Left</th>
        </tr>
    </thead>
    <tbody>
    {{range .}}
        <tr>
            <td>{{.Week}}</td>
            <td>{{.RequestsConsumed}}</td>
            <td>{{printf "%.0f" .MinLeftover}}</td>
            <td>{{printf "%.0f" .MaxLeftover}}</td>
            <td>{{printf "%.0f" .AvgLeftover}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
